mixin color-palette(title, description, bg)
  .color-palette 
    .color-palette__color-block(style="background:" + bg)
    .color-palette__side 
      .color-palette__header= title
      .color-palette__description= description