mixin color-palette(title, desc, bg)
    .color-palette 
        .color-palette__color-block(style="background:" + bg)
        .color-palette__side 
            .color-palette__header= title
            .color-palette__desc= desc