extends ../template/template.pug

block content
  include ../../blocks/header/header.pug
  include ../../blocks/selection-card/selection-card.pug
  include ../../blocks/footer/footer.pug
  section.landing-main
    .landing-header 
      +header({login: false})
    .container
      .landing-main__wrapper
        .landing-main__selection-card 
          +selection-card({header: "Найдём номера под ваши пожелания", dateDropdownId: "find_dates"})
        .landing-main__text Лучшие номера для вашей работы, отдыха и просто вдохновения

  section.landing-footer
    +footer({mobile: false})
