.feedback {
  display: grid;
  grid-template-columns: 48px auto;
  column-gap: 10px;
  row-gap: 9px;
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
  &__img-tag {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 10px 20px rgba(31, 32, 65, 0.1));
  }
  &__person-name {
    font-weight: bold;
    font-size: var(--text-body-font-size);
    line-height: var(--text-body-line-height);
    color: var(--dark-shade-75);
  }
  &__person-time {
    font-size: var(--text-body-font-size);
    line-height: var(--text-body-line-height);
    color: var(--dark-shade-75);
  }
  &__like {
    margin-top: 2px;
    justify-self: center;
    width: 40px;
  }
  &__text {
    font-size: var(--text-body-font-size);
    line-height: var(--text-body-line-height);
    color: var(--dark-shade-75);
  }
}