include ../input-button/input-button.pug
mixin feedback({name: name, icon: icon, time: time, text: text, likes: likes})
  .feedback
    .feedback__img
      img(src=require('/src/blocks/feedback/icons/' + icon))
    .feedback__person
      .feedback__person-name= name
      .feedback__person-time= time

    .feedback__like
      +input-button({type: "like", id: "like_3", label: likes})
    .feedback__text= text