doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toxin Hotel 
    body 
        include ../blocks/header/header.pug
        include ../blocks/login-card/login-card.pug
        include ../blocks/footer/footer.pug
        section.landing-main
            .landing-header 
                +header({login: false})
            .container
                .landing-main__login
                    +login-card({header: "Войти"})

        section.landing-footer
            +footer({mobile: false})