extends ../template/template.pug

block content
  include ../../blocks/header/header.pug
  include ../../blocks/login-card/login-card.pug
  include ../../blocks/footer/footer.pug
  section.landing-login-main
    .landing-login-main__header 
      +header({login: false})
    .landing-login-main__container
      .landing-login-main__login
        +login-card({header: "Войти"})

  section.landing-login-footer
    +footer({mobile: false})