@import '../../assets/styles/montserrat';
@import '../../assets/styles/mixins';
@import '../../assets/styles/text-types';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1159px;
  margin: 0 auto;
}