@import '../base/montserrat';
@import '../base/icons.css';
@import '../base/mixins';
@import '../base/texs-types';

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container {
    max-width: 1159px;
    margin: 0 auto;
}