doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ui-kit
    body 
        section.color-and-types 
            include ../blocks/kit-section-name/kit-section-name.pug
            .color-and-types__header 
                +kit-section-name("Color & Type")
            .container
                .color-and-types__wrapper 
                    .color-and-types__palette
                        - var colorsListName = ["Dark Shade 100%", "Dark Shade 75%", "Dark Shade 50%", "Dark Shade 25", "Dark Shade 5%", "Purple", "Green"]
                        - var colorsListDesc = ["#1F2041", "#1F2041", "#1F2041", "#1F2041", "#1F2041", "#BC9CFF", "#6FCF97"]
                        - var colorsListRef = ["#1F2041", "rgba(31, 32, 65, 0.75)", "rgba(31, 32, 65, 0.5)", "rgba(31, 32, 65, 0.25)", "rgba(31, 32, 65, 0.05)", "#BC9CFF", "#6FCF97"]
                        include ../blocks/color-palette/color-palette.pug
                        - for (var x = 0; x < 7; x++)
                            .color-and-types__palette-item
                                +color-palette(colorsListName[x], colorsListDesc[x], colorsListRef[x])
                    
                    .color-and-types__text-types 
                        .color-and-types__text-types-header.text-h1 H1
                        .color-and-types__text-types-desc.text-h1 This one is the sub-section or 
                                        br
                                        |widget title
                        .color-and-types__text-types-header.text-h2 H2
                        .color-and-types__text-types-desc.text-h2 Next one is the item title inside 
                                        br
                                        |widgets
                        .color-and-types__text-types-header.text-h3 H3
                        .color-and-types__text-types-desc.text-h3 This is a label or CTA text
                        .color-and-types__text-types-header.text-body body
                        .color-and-types__text-types-desc.text-body This is the body text which is used for most
                                        br
                                        |of the design, like paragraphs, lists, etc.

        .section.form-elements 
            .form-elements__header 
                +kit-section-name("Form Elements")
            .container
                include ../blocks/text-field/text-field.pug
                include ../blocks/dropdown/dropdown.pug
                include ../blocks/date-dropdown/date-dropdown.pug
                include ../blocks/input-button/input-button.pug
                include ../blocks/expandable-checkbox-list/expandable-checkbox-list.pug
                .form-elements__wrapper 
                    .form-elements__fst-col
                        .form-elements__text-field
                            +text-field({width: "320px", label: "text field", desc: "default", placeholder: "Email"})
                        .form-elements__text-field
                            +text-field({width: "320px", label: "text field", desc: "hover / focus", text: "This is pretty awesome"})
                        .form-elements__text-field
                            +text-field({width: "320px", label: "masked text field", desc: "default", mask: true})
                        .form-elements__text-field
                            +text-field({width: "267px", label: "subscription text field", placeholder: "Email", arrow: true})
                        .form-elements__dropdown
                            +dropdown({width: "320px", type: "guests", label: "dropdown"})
                        .form-elements__dropdown
                            +dropdown({width: "320px", type: "guests", label: "dropdown"})
                        .form-elements__dropdown
                            +dropdown({width: "320px", type: "room", label: "dropdown", desc: "default"})
                        .form-elements__dropdown
                            +dropdown({width: "320px", type: "room", label: "dropdown", desc: "expanded"})
                        .form-elements__date-dropdown
                            +date-dropdown({width: "320px", type: "split", label: "date Dropdown", labelTo: "date Dropdown"})
                        .form-elements__date-dropdown
                            +date-dropdown({width: "267px", type: "filter", label: "filter date dropdown"})
                        
                        .form-elements__checkbox-buttons
                            .text-h3 Checkbox Buttons
                            .form-elements__checkbox-buttons-list   
                                +input-button({type: "checkbox", id: "smoking", label: "Можно курить"})
                                +input-button({type: "checkbox", id: "pets", label: "Можно с питомцами"})
                                +input-button({type: "checkbox", id: "guests", label: "Можно пригласить гостей (до 10 человек)"})

                        .form-elements__radio-buttons
                            .text-h3 Radio Buttons
                            .form-elements__radio-buttons-list
                                +input-button({type: "radio", name:"gender", id:"gender_male", label: "Мужчина"})
                                +input-button({type: "radio", name:"gender", id:"gender_female", label: "Женщина"})

                        .form-elements__toggle-buttons
                            .text-h3 Toggle
                            .form-elements__toggle-buttons-list
                                +input-button({type: "switch", id:"special_offer_1", label: "Получать спецпредложения"})
                                +input-button({type: "switch", id:"special_offer_2", label: "Получать спецпредложения"})

                        .form-elements__like-buttons
                            .text-h3 like button
                            .form-elements__like-buttons-list
                                +input-button({type: "like", id: "like_1", label: "2"})
                                +input-button({type: "like", id: "like_2", label: "12"})
