include ../input-button/input-button.pug
mixin expandable-checkbox-list({name: name, header: header, labels: labels}) 
  .expandable-checkbox-list.js-expandable-checkbox-list 
    .expandable-checkbox-list__header.js-expandable-checkbox-list__header
      .expandable-checkbox-list__label.text-h3= header 
      .expandable-checkbox-list__arrow.js-expandable-checkbox-list__arrow
        .expandable-checkbox-list__arrow-line.js-expandable-checkbox-list__arrow-line 
    .expandable-checkbox-list__list.js-expandable-checkbox-list__list
      each label, i in labels
        +input-button({type: "checkbox", id: name + i, label: label})