mixin rate-button({id: id, rate: rate})
    .rate-button
        - for (var x = 0; x < 5; x++)
            if (x < rate)
                .rate-button__star.js-rate-button__star.rate-button__star_active
                    include ../../assets/icons/star_black_24dp.svg
            else
                .rate-button__star.js-rate-button__star
                    include ../../assets/icons/star_black_24dp.svg