mixin kit-section-name({title: title, logo: logo})
  .kit-section-name 
    .kit-section-name__img
      img(src=require("/src/blocks/kit-section-name/icons/" + logo), alt="logo-grey")
    .kit-section-name__desc= title