extends ../template/template.pug

block content
  include ../../blocks/header/header.pug
  include ../../blocks/registration-card/registration-card.pug
  include ../../blocks/footer/footer.pug
  section.landing-registration-main
    .landing-registration-main__header 
      +header({login: false})
    .landing-registration-main__container
      .landing-registration-main__register
        +registration-card({header: "Регистрация аккаунта", buttonText: "зарегистрироваться"})

  section.landing-registration-footer
    +footer({mobile: false})