@import '../../assets/styles/montserrat';
@import '../../assets/styles/text-types';
@import '../../assets/styles/mixins';
@include page-init;

.landing-main {
  min-height: 100vh;
  background: center center/cover no-repeat;
  background-image: url(../../assets/img/main-bg/bg-1.jpg);
  background-image: url(../../assets/img/main-bg/bg-4.jpg);
  animation: bg-images 20s cubic-bezier(0.8,-2.5,0.8,1) infinite;

  display: flex;
  flex-direction: column;
  .container {
    width: 100%;
    flex: 1;
  }
  &__register {
    padding: 20px 0;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@keyframes bg-images {
  0% {
    background-image: url(../../assets/img/main-bg/bg-4.jpg);
  }
  50% {
    background-image: url(../../assets/img/main-bg/bg-1.jpg);
  }
  100% {
    background-image: url(../../assets/img/main-bg/bg-4.jpg);
  }
}
