include ../../../blocks/selection-card/selection-card.pug
include ../../../blocks/registartion-card/registartion-card.pug
include ../../../blocks/booking-room-card/booking-room-card.pug
include ../../../blocks/login-card/login-card.pug
include ../../../blocks/date-dropdown/date-dropdown.pug
include ../../../blocks/room-card/room-card.pug
section.cards 
    .color-and-types__header 
            +kit-section-name({title: "Cards", logo: "logo-dark-grey.svg"})
    .container  
        .cards__wrapper 
            .cards__fst-col
                .cards__selection-card
                    +selection-card({header: "Найдём номера под ваши пожелания", dateDropdownId: "split_date_2"})
                .cards__registartion-card 
                    +registartion-card({header: "Регистрация аккаунта"})
            .cards__snd-col
                .cards__booking-room-card
                    +booking-room-card({roomNumber: "888", roomClass: "люкс", price: "9 990₽"})
                .cards__login-card
                    +login-card({header: "Войти"})
            .cards__thrd-col
                .cards__calendar
                    +date-dropdown({id: "filter_date_2", type: "filter", label: ""})
                .cards__room-card
                    +room-card({roomNumber: "888", roomClass: "люкс", price: "9 990₽", reviewsCount: "145", rate: "5", photos:
                    ["888.jpg", "840.jpg", "980.jpg", "856.jpg"]})
                .cards__room-card
                    +room-card({roomNumber: "840", price: "9 990₽", reviewsCount: "65", rate: "4", photos:
                    ["840.jpg", "856.jpg", "740.jpg", "982.jpg"]})