include ../../../../blocks/selection-card/selection-card.pug
include ../../../../blocks/registration-card/registration-card.pug
include ../../../../blocks/booking-room-card/booking-room-card.pug
include ../../../../blocks/login-card/login-card.pug
include ../../../../blocks/date-dropdown/date-dropdown.pug
include ../../../../blocks/room-card/room-card.pug
section.cards 
  .color-and-types__header 
        +kit-section-name({title: "Cards", logo: "logo-dark-grey.svg"})
  .cards__container  
    .cards__wrapper 
      .cards__first-column
        .cards__selection-card
          +selection-card({header: "Найдём номера под ваши пожелания", dateDropdownId: "split_date_2"})
        .cards__registration-card 
          +registration-card({header: "Регистрация аккаунта"})
      .cards__second-column
        .cards__booking-room-card
          +booking-room-card({roomNumber: "888", roomClass: "люкс", price: "9 990₽"})
        .cards__login-card
          +login-card({header: "Войти"})
      .cards__third-column
        .cards__calendar
          +date-dropdown({id: "filter_date_2", type: "filter", label: ""})
        .cards__room-card
          +room-card({roomNumber: "888", roomClass: "люкс", price: "9 990₽", reviewsCount: "145", rate: "5", photos:
          ["888-1.jpg", "888-2.jpg", "888-3.jpg", "888-4.jpg"]})
        .cards__room-card
          +room-card({roomNumber: "840", price: "9 990₽", reviewsCount: "65", rate: "4", photos:
          ["840.jpg", "856.jpg", "740.jpg", "982.jpg"]})