include ../dropdown/dropdown.pug
include ../date-dropdown/date-dropdown.pug
include ../button/button.pug

mixin selection-card({header: header, dateDropdownId: id})
  form.selection-card
    .selection-card__header= header
    .selection-card__date-dropdown
      +date-dropdown({id: id, type: "split", label: "прибытие", labelTo: "выезд"})
    .selection-card__guest-dropdown
      +dropdown({id: "dropdown_selection_1", type: "guests", label: "гости"})
    .selection-card__button 
      +button({label: "подобрать номер", type: "wide"})