.selection-card {
  max-width: 382px;
  min-height: 374px;
  padding: 39px 30px 30px 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__header {
    margin: 0;
    font-weight: bold;
    font-size: var(--text-h1-font-size);
    line-height: var(--text-h1-line-height);
    color: var(--dark-shade-100);
  }
  &__date-dropdown {
    margin-top: 21px;
  }
  &__guest-dropdown {
    margin-top: 22px;
  }
  &__button {
    margin-top: 30px;
  }
}