mixin kit-section-name({title: title, logo: logo})
    .kit-section-name 
        .kit-section-name__img
            img(src=require("../../assets/icons/" + logo), alt="logo-grey")
        .kit-section-name__desc= title