mixin kit-section-name(title)
    .kit-section-name 
        .kit-section-name__img
            img(src=require("../../assets/icons/logo-grey.svg"), alt="logo-grey")
        .kit-section-name__desc= title