.room-card {
  width: 270px;
  height: 257px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  &__carousel {
    width: 270px;
    height: 151.38px;
    border-radius: 4px 4px 0px 0px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__photos {
    position: relative;
    &-prev {
      position: absolute;
      width: 42px;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
      z-index: 1;
      transition: all 0.5s;
      &:hover {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        &::after {
          content: '';
          position: absolute;
          top: 0; 
          left: 20px;
          width: 6px;
          height: 6px;
          border: solid #FFFFFF;
          border-width: 0px 0px 2px 2px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
    &-next {
      position: absolute;
      width: 42px;
      height: 100%;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 1;
      transition: all 0.5s;
      &:hover {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
        &::after {
          content: '';
          position: absolute;
          top: 0; 
          right: 20px;
          width: 6px;
          height: 6px;
          border: solid #FFFFFF;
          border-width: 2px 2px 0px 0px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
    &-dots {
      position: absolute;
      right: 15px;
      bottom: 15px;
      width: 42px;
      height: 8px;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-dot {
      width: 7.5px;
      height: 7.49px;
      border: 1px solid #FFFFFF;
      border-radius: 50%;
      filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
      cursor: pointer;
      &_active {
        background: #FFFFFF;
      }
    }
  }
  &__wrapper {
    padding: 20px 17px 19px 20px;
  }
  &__room {
    display: flex;
    justify-content: space-between;
    align-items: end;
    &-number {
      font-weight: bold;
      font-size: var(--text-h2-font-size);
      line-height: var(--text-h2-line-height);
      color: var(--dark-shade-100);
      &-wrapper {
        font-size: var(--text-body-font-size);
        line-height: var(--text-body-line-height);
        color: var(--dark-shade-100);
        font-weight: bold;
      }
    }
    &-class {
      margin-left: 1px;
      color: var(--purple-color);
      font-weight: bold;
      font-size: var(--text-h3-font-size);
      line-height: var(--text-h3-line-height);
      text-transform: uppercase;
    }
    &-price {
      font-size: var(--text-body-font-size);
      line-height: var(--text-body-line-height);
      color: var(--dark-shade-50);
      font-weight: bold;
      &-range {
        font-weight: normal;
        text-transform: lowercase;
        font-size: var(--text-h3-font-size);
        line-height: var(--text-h3-line-height);
        color: var(--dark-shade-50);
      }
    }
  }
  &__line {
    margin-top: 10px;
    width: 230px;
    height: 1px;
    background: var(--dark-shade-10);
  }
  &__rate {
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-reviews {
      font-size: var(--text-body-font-size);
      line-height: var(--text-body-line-height);
      color: var(--dark-shade-50);
      span {
        font-weight: bold;
      }
    }
  }

  .slick-track {
    display: flex !important;
  }
  .slick-slide {
    height: inherit !important;
  }
  .slick-list {
    height: inherit !important;
  }
}