.registration-card {
    max-width: 382px;
    min-height: 646px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
    flex: 1;
    &__person {
        margin-top: 15px;
        &-surname {
            margin-top: 5px;
        }
        &-gender {
            width: 220px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 20px;
        }
        &-birthday {
            margin-top: 25px;
        }
    }
    &__login {
        margin-top: 20px;
        &-password {
            margin-top: 5px;
        }
    }
    &__special {
        margin-top: 10px;
    }
    &__pay-button {
        margin-top: 25px;
    }
    &__account {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
            color: #000000 !important;
        }
    }
}