@import '/src/assets/styles/montserrat';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

