@import './variables.scss';
.text-h1 {
  margin: 0;
  font-weight: bold;
  font-size: var(--text-h1-font-size);
  line-height: var(--text-h1-line-height);
  color: var(--dark-shade-100);
}
.text-h2 {
  font-weight: bold;
  font-size: var(--text-h2-font-size);
  line-height: var(--text-h2-line-height);
  color: var(--dark-shade-100);
}
.text-h3 {
  font-weight: bold;
  font-size: var(--text-h3-font-size);
  line-height: var(--text-h3-line-height);
  text-transform: uppercase;
  color: var(--dark-shade-100);
  &_50 {
    font-weight: normal;
    font-size: var(--text-h3-font-size);
    line-height: var(--text-h3-line-height);
    text-transform: uppercase;
    color: var(--dark-shade-50);
  }
  &_25 {
    font-weight: normal;
    font-size: var(--text-h3-font-size);
    line-height: var(--text-h3-line-height);
    text-transform: uppercase;
    color: var(--dark-shade-25);
  }
}
.text-body {
  font-size: var(--text-body-font-size);
  line-height: var(--text-body-line-height);
  color: var(--dark-shade-75);
  &_25 {
    font-size: var(--text-body-font-size);
    line-height: var(--text-body-line-height);
    color: var(--dark-shade-25);
  }
  &_50 {
    font-size: var(--text-body-font-size);
    line-height: var(--text-body-line-height);
    color: var(--dark-shade-50);
  }
  &_100 {
    font-size: var(--text-body-font-size);
    line-height: var(--text-body-line-height);
    color: var(--dark-shade-100);
  }
}