mixin bullet-list({header: header, labels: labels})
    .bullet-list
        .bullet-list__header.text-h3= header
    ul.bullet-list__list
        each val in labels
            li.bullet-list__item.text-body= val